* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(40, 40, 40);
}

#canvas {
    background: rgb(12, 12, 12);
    border-radius: 15px;
}